header {
    font-family: $font-family-sans-serif;
    opacity: .7;
}

.navitem {
    font-family: $font-family-sans-serif;
}

.navbar {
    background-color: $primary-color;
    padding: 0;
    margin: 0;
}